body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.custom-basic-info {
    margin-top: 30px;
}

.custom-heading {
    background-color: #5CB85C;
    font-size: 1.5em;
    border-radius: 10px 0px 0px 0px;
    color: white;
    padding: 5px;
}

.custom-heading-right {
    background-color: #5CB85C;
    font-size: 1.5em;
    border-radius: 0px 10px 0px 0px;
    color: white;
    padding: 5px;
}

.custom-description {
    background-color: #f2f2f2;
    font-size: 1.2em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

.custom-footer {
    background-color: #5CB85C;
    font-size: 1.1em;
    border-radius: 0px 0px 10px 0px;
    color: white;
    padding-top: 2px;
}

.custom-additional-info {
    margin-top: 35px;   
}

.custom-additional-info .custom-description {
    padding : 2px;
}

#map {
    height: 500px !important;
}

.hiddenInput {
    display: none;
}

.searchBox {
    margin-top: 20px;
}

.profile-details {
    font-size: 1.2em;
    margin-top: 10px;
}

.profile-picture {
    border: 2px solid #5CB85C;
    margin: 10px;
}

.gray-background {
    background-color: #f2f2f2;
}

.add-friends-button {
    margin: 15px;
}

.no-data {
    min-height: 100px;
}