@model Organizr.Web.Areas.Search.ViewModels.UserViewModel

<div class="row search-user">
    <div class="col-md-6">
        <h2>@Model.Email</h2>
    </div>
    <div class="col-md-2">
        <a href="/SendFriendRequest/@this.ViewBag.SearcherId/@Model.Id">Send friend request</a>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Details", "Details", "Users")
    </div>
</div>

