@model IEnumerable<Organizr.Web.Areas.Users.ViewModels.FriendRequestViewModel>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "FriendRequests";
}

<h2>Friend Requests</h2>

@foreach(var friendRequest in Model)
{
    <h2><a href="@friendRequest.SenderId">@friendRequest.SenderEmail</a>  sent you a friend request.</h2>
    <a href="/Accept/@friendRequest.SenderId/@User.Identity.GetUserId()">Accept</a>
    <a href="/Decline/@friendRequest.SenderId/@User.Identity.GetUserId()">Decline</a>
}

