@model Organizr.Web.Areas.Search.ViewModels.PageableUsersViewModel
@{
    ViewBag.Title = "SimpleSearch";
}

<h2>Users:</h2>

@Html.DisplayFor(m => m.Users)

@Html.Partial("_PageableUsersNavigation", Model)